<div class="container" id='Window'>
  <form action="/parcel" method="post">

  <label for="name">Add a new Parcel</label>
  <li>
      <label for="name">Name</label>
      <input id="name" name="name" value= "bottle" type="text" class="Window">
  </li>


  <li>
      <label for="Width">Width</label>
      <input id="dimX" name="dimX" type="number" value = "1">
  </li>
  <li>
      <label for="dimY">Length</label>
      <input id="dimY" name="dimY" type="number" value = "1">
  </li>
  
  <li>
    <label for="dimZ">Height</label>
    <input id="dimZ" name="dimZ" type="number" value = "1">
  </li>
  
  <li>
  <label for="boxWeight">Weight of box</label>
  <input id="boxWeight" name="boxWeight" type="number" value = "1">
  </li>
  <li>
    <label for="boxDescription">Description of box</label>
    <input id="boxDescription" name="boxDescription" type="text" value = "1">
  </li>

    <button type="submit">Submit</button>
  </form>
</div>